header {
    height: 10vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.themeBtn {
    font-size: 2.5rem;
    background: none;
    border: none;
    padding-top: 1rem;;
    padding-right: 1rem;
}

@media (max-width: 650px) {
    header > .header > .themeBtn {
        font-size: 2rem;
    }
} 