#RollDice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 99%;
}

#RollDice > .dice-container > img {
    animation: myAnimation 1s;
}

@keyframes myAnimation {
    from {-webkit-transform: rotate(360deg)};
    to {transform: rotate(360deg)};
}

#RollDice > .btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

#RollDice > .dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#RollDice > .dice-container > img {
    
}